:root {
  --purple: #6317a9;
  --yellow: #fccd04;
  --blue: #202a52;
  --green: #a3f0a3;
  --red: #f36565;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Quiz  */
.question-card {
  background-color: var(--purple);
  width: 800px;
  min-height: 450px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
}

/* questions  */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 5px;
}

.question-text {
  font-size: 22px;
  margin-bottom: 12px;
}
.answer-section {
  margin-top: 10%;
  flex-direction: column;
  text-align: center;
}

/* answer */
.answer-button {
  width: 80%;
  font-size: 16px;
  color: var(--blue);
  border-color: var(--blue);
  border-radius: 20px;
  margin: auto; 
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bg-regualar {
  background-color: white;
}
.bg-correct {
  background-color: var(--green);
}
.bg-incorrect {
  background-color: var(--red);
}

button:hover {
  background-color: #a8aab1;
}

.next-button {
  float: right;
  margin-right: 0;
  padding: 10px;
}
/* progress bar component */
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  margin: 0px auto 5px auto;
}

.filler {
  background: var(--yellow);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
