:root {
  --purple: #5459ca;
  --yellow: #fa9f24;
  --blue: #202a52;
  --green: lightgreen;
  --red: lightcoral;
  --easy: #FFC700;
  --medium: #AC2CC1;
  --difficult: #365CF6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Quiz  */
.img_url{
  width: 90%;
  padding: 10px;
}
.question-card {
  background-color: white;
  width: 70vw;
  min-height: 75vh;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.5);
  justify-content: space-evenly;
}

/* questions  */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 5px;
}

.question-text {
  font-size: 22px;
  margin-bottom: 12px;
}
.answer-section {
  margin-top: 3%;
  flex-direction: column;
  text-align: center;
}

/* answer */
.answer-button {
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
}
.bg-regualar {
  background-color: white;
}

.bg-correct {
  background-color: var(--green);
}

.bg-selected-correct{
  border: 5px solid black;
  background-color: var(--green);
}
.bg-selected-incorrect{
  border: 5px solid black;
  background-color: var(--red);
}

button:disabled,
button[disabled]{
  color: black;
  cursor: not-allowed;
}
/* button:hover {
  background-color: var(--blue);
  color: white;
} */

.next-button {
  float: right;
  padding: 10px;
  background-color: var(--blue);
  color: white;
  margin-top: 50px;
}

.next-button:hover {
  cursor: pointer;
}
/* progress bar component */
.progress-bar {
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  margin: 0px auto 5px auto;
}

.filler {
  background: var(--yellow);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
